#full-width {
  border-style: solid;
  background-color: gray;
  padding: 10px;
  text-align: center;
  font-size: 25px
}

a.hove:hover {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
}


#foot1 {
  border: solid;
  padding: 10px;
  margin-top: 460px;

}
